header {
  background: @ablue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .height {
    padding: 40px 0;
  }

  .content {
    background: @blue;
    padding: 10px;
    height: 100%;

    .container-fluid {
      height: 100%;
    }

    .row {
      height: 50%;
    }

    .content_age,
    .content_contacts {
      display: inline-block;
    }

    .content_age {
      //padding-right: 400px;
    }

    .content_contacts {
      //padding-right: 70px;
    }
  }
}

.table {
  display: table;
  height: 100%;

  .table_cell {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
  }
}

.renge {
  background: @blue;
  font-size: 15px;

  .renge_content {
    background: white;
  }

  .item {
    position: relative;
    height: 560px;
    overflow: hidden;
    background: white;
    padding: 0;

    img {
      width: 90%;
    }
  }


  .item_descr {
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-bottom: 30px;
  }

  .item_descr_firma {
    font-style: italic;
    color: #B6B6B6;
  }

  .item_descr_name {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .item_descr_price {
    font-weight: bold;
    color: #B6B6B6;
  }

  .item_disc {
    text-align: center;
    padding: 2px;
    width: 100%;
    background: @pink;
    font-size: 50px;
    font-weight: bold;
    color: white;
  }

  .renge_sidebar {
    background: @blue;

    //border: 10px solid @blue;
  }

}

.contacts {

  background: url(../img/fon.png);

  .fon {
    background: rgba(165, 195, 255, 0.85);
    //padding: 105px 0;
  }

  .contacts_data {
    padding: 5% 8% 0 32%;
    color: white;

    h4 {
      margin: 0;
      padding: 10px;
      font-size: 24px;
      letter-spacing: -1px;
      background: rgba(165, 195, 255, 0.5);
    }

    span {
      display: inline-block;
      font-size: 15px;
      padding-left: 10px;
      padding-bottom: 26px;
      background: rgba(165, 195, 255, 0.5);
      width: 100%;
    }
  }

  .col-sm-6 {
    padding: 0;
  }

  .contacts_map {
    height: 450px;
    padding: 0;
  }
}

footer {
  background: #151515;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 10px;
  text-align: right;
}