header {
  background: @ablue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  .height {
    padding: 40px 0;
  }

    .content {
      background: @blue;
      padding: 10px;
      height: 100%;

      .container-fluid {
        height: 100%;
      }

      .row {
        height: 50%;
      }

      .content_age,
      .content_contacts {
        display: inline-block;
      }

      .content_age {
        //padding-right: 400px;
      }

      .content_contacts {
        //padding-right: 70px;
      }
    }
}

.table {
  display: table;
  height: 100%;

  .table_cell {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
  }
}

.renge {

  font-size: 15px;

  .renge_content {
    position: relative;
    padding: 0;
    height: 560px;
    overflow: hidden;
    //text-align: center;
  }

  .renge_content_descr {
    width: 100%;
    background: white;
    position: absolute;
    bottom: 1px;
  }

  .renge_content_item {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .renge_content_price {
    font-weight: bold;
    color: #B6B6B6;
  }

  img {
    width: 100%;
  }

  .renge_content_firma {
    font-style: italic;
    color: #B6B6B6;;
  }
}