header {
  background: @ablue;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .height {
    padding: 40px 0;
  }

  .content {
    background: @blue;
    padding: 10px;
    height: 100%;

    .container-fluid {
      height: 100%;
    }

    .row {
      height: 50%;
    }

    .content_age,
    .content_contacts {
      display: inline-block;
    }

    .content_age {
      //padding-right: 400px;
    }

    .content_contacts {
      //padding-right: 70px;
    }
  }
}

.table {
  display: table;
  height: 100%;

  .table_cell {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
  }
}

.renge {
  font-size: 15px;

  .item {
    position: relative;
    height: 560px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .item_descr {
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
  }

  .item_descr_firma {
    font-style: italic;
    color: #B6B6B6;
  }

  .item_descr_name {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .item_descr_price {
    font-weight: bold;
    color: #B6B6B6;
  }

}